{
  "mcpServers": {
    "context7": {
      "command": "npx",
      "args": ["-y", "@upstash/context7-mcp@latest"],
      "alwaysAllow": [
        "resolve-library-id"
      ]
    },
    "sequential-thinking": {
      "command": "npx",
      "args": ["-y", "@modelcontextprotocol/server-sequential-thinking"],
      "alwaysAllow": [
        "sequentialthinking"
      ]
    }
    {{- if .use_secrets -}}
    ,
    "perplexity-ask": {
      "command": "npx",
      "args": ["-y", "@chatmcp/server-perplexity-ask"],
      "env": {
        "PERPLEXITY_API_KEY": "{{- onepasswordRead .my.perplexity_api_key "my" }}"
      },
      "alwaysAllow": [
        "perplexity_ask"
      ]
    },
    "@21st-dev/magic": {
      "command": "npx",
      "args": [
        "-y",
        "@21st-dev/magic@latest",
        "API_KEY=\"{{- onepasswordRead .my.twenty_one_dev_api_key "my" }}\""
      ]
    },
    "firecrawl-mcp": {
      "command": "npx",
      "args": ["-y", "firecrawl-mcp"],
      "env": {
        "FIRECRAWL_API_KEY": "{{- onepasswordRead .my.firecrawl_api_key "my" }}"
      }
    },
    "taskmaster-ai": {
      "command": "npx",
      "args": ["-y", "--package=task-master-ai", "task-master-ai"],
      "env": {
        "ANTHROPIC_API_KEY":"{{- onepasswordRead .my.anthropic_api_key "my" }}",
        "PERPLEXITY_API_KEY": "{{- onepasswordRead .my.perplexity_api_key "my" }}"
      }
    }
    {{- if .work_computer -}}
    ,
    "airtable": {
      "command": "npx",
      "args": ["-y", "airtable-mcp-server"],
      "env": {
        "airtable-api-key": "{{- onepasswordRead .work.airtable_api_key "wizio" }}"
      }
    }
    {{- end }}
    {{- end }}
  }
}
