{{- $use_secrets := promptBoolOnce . "use_secrets" "Use secrets from 1Password? (true/false)" -}}
{{- $work_computer := promptBoolOnce . "work_computer" "Is this a work computer for daily driving? (true/false)" -}}
{{- $is_ci_workflow := promptBoolOnce . "is_ci_workflow" "Is this a CI workflow? (true/false)" -}}

    [data]
        git_name = 'David D Lawson'
        gh_user           = "ddlaws0n"
        git_workdir       = "{$HOME}/Repos"
        is_ci_workflow    = {{ if $is_ci_workflow }}true{{ else }}false{{ end }}
        work_computer = {{ if $work_computer }}true{{ else }}false{{ end }}
        use_secrets       = {{ if $use_secrets }}true{{ else }}false{{ end }}

[edit]
    args    = ["-r", "--wait"]
    command = "code"

[add]
    secrets = "error"

[diff]
    pager = "delta"
    exclude = ["scripts"]

[template]
  options = ["missingkey=zero"]

{{/* [git]
    autoCommit = true
    autoPush = true */}}
