[user]
	name = "{{ .git_name }}"
    email = "{{- onepasswordRead .my.git_email .personal_1p_account }}"
    signingkey = "{{- onepasswordRead .my.git_signingkey .personal_1p_account }}"

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[core]
    editor = code --wait
	excludesfile = "{{ .chezmoi.homeDir }}.gitignore"

[color]
	diff = auto
	status = auto
	branch = auto
	ui = true

[commit]
	gpgsign = true

[tag]
	gpgSign = true

{{ if hasKey . "work_computer" -}}
[includeIf "gitdir:{{ .git_workdir }}/"]
	path = {{ .git_workdir }}/.gitconfig
{{ end -}}

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[http]
	postBuffer = 524288000

[fetch]
	prune = true

[pull]
	rebase = false

[status]
    short = true
