[user]
    email = "{{- onepasswordRead .my.git_email "my" }}"
    name = "{{ .git_name }}"
    signingkey = "{{- onepasswordRead .my.git_signingkey "my" }}"

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
	gpgsign = true

{{ if hasKey . "git_workdir" -}}
[includeIf "gitdir:{{ .git_workdir }}/"]
	path = {{ .git_workdir }}/.gitconfig
{{ end -}}

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[http]
	postBuffer = 524288000

[fetch]
	prune = true

[core]
    editor = code --wait
	excludesfile = "/Users/dlawson/.gitignore"

[status]
    short = true
