{{- if .work_computer -}}
    WIZ_CLIENT_ID="{{- onepasswordRead .work.wiz_client_id .work_1p_account }}"
    WIZ_CLIENT_SECRET="{{- onepasswordRead .work.wiz_client_secret .work_1p_account }}"
{{- end }}
