# Global AI Rules for Windsurf

## Global Coding Patterns

{{ template "dot_templates/rules/global-coding-patterns.md" . }}

## Global Documentation Generation

{{ template "dot_templates/rules/global-doc-generation.md" . }}
